.mainfeatures{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainfeatures h5{
    background-color: #E3DDDC;
    border-radius: 20px;
    padding:10px;
}

.accordion-container {
    border-radius: 8px;
    margin-top: 50px;
    overflow: hidden;
    transition: height 1s ease-in-out; /* Smooth transition effect */
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
  }
  
  .accordion-icon {
    font-size: 40px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; 
  height: 30px; 
  background-color: rgb(178, 174, 174); 
  transition: background-color 10s ease-in-out; 
  padding-bottom: 10px;
  }
  
  .accordion-content {
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-position 0.5s ease;

  }
  
  .accordion-container.open {
    height: 100%;
    background-position: -100% 0;
  }
  