.Ourfeatures{
    padding-top: 200px;
}

.mainfeatures{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainfeatures h5{
    background-color: #E3DDDC;
    border-radius: 20px;
    padding:10px;
}

.features-row1{
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.ourfeature_container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.item{
    padding: 1.2rem;

}


.item-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #f1f2f4;
    padding: 10% 10%; 

}

.item h4 {
    margin: 1.2rem 0 ;
    
}

.title{
    display: inline-block;
    background-color: #f1f2f4;
    border-radius: 20px;
    padding:10px;
    justify-content: left;
    
}

.item-cta{
    display: flex;
    gap: 1rem ;
    color: rgb(110, 107, 106);
    
}


@media only screen and (max-width: 1024px) {
    .ourfeature_container{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2.5rem;
    }
  }